:root{
    --primaryColor: #fc8727;
    --secondaryColor: #ffb87d;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--primaryColor);
    text-decoration: none;
}

a:hover {
    color: var(--secondaryColor);
}

button, input[type=submit] {
    background-color: var(--primaryColor);
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
}

button:hover {
    background-color: var(--secondaryColor);
}


/* Top Bar CSS */
.top-bar {
    display: flex;
    justify-content: space-between;
}

.top-bar * {
    font-weight: bold;
    margin: 0;
}

/* Quiz Box CSS */
.quiz-box {
    margin: 100px auto 0 auto;
    width: 50%;
}

.quiz-box h1 {
    font-size: 48px;
    margin: 10px 0;
}

.quiz-box p {
    font-size: 24px;
    margin: 10px 0;
}

.start-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-box * {
    text-align: center;
}

.question-box {
    display: flex;
    flex-direction: column;
}

.question-box *{
    margin-top: 10px;
    text-align: left;
    align-self: flex-start;
    position: relative;
}